<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    
    , initial-scale=1.0">
    <title>Sing Up</title>
</head>
<body>
    

    <section>
     <div class="image-container">
            <img src="../../assets/Capture.PNG">
        </div>
        <div class="form-container">
           <div class="form">
             <h2>  Create your Account by Filling Up This form!</h2>      
              <form [formGroup]="service.formModel" autocomplete="off">
                <div class="input">
                    <span>FullName</span>
                    <input  type="text" name="FullName" formControlName="FullName">
                </div>
                  <div class="input">
                      <span>username</span>
                      <input type="text" name="username" formControlName="username">
                      <label class="text-danger" *ngIf="service.formModel?.get('username')?.touched && service.formModel?.get('username')?.errors?.required">This field is mandatory.</label>
                  </div>
                  <div class="input">
                      <span>password</span>
                      <input type="password" name="password" formControlName="password">
                      <label class="text-danger" *ngIf="service.formModel?.get('password')?.touched && service.formModel?.get('password')?.errors?.required">This field is mandatory.</label>
                      <label class="text-danger" *ngIf="service.formModel?.get('password')?.touched && service.formModel?.get('password')?.errors?.minlength">Minimum 4 caracters </label>
                 
                    </div>
                  <div class="input">
                    <span> confirm password</span>
                    <input type="password" name="confirmpassword" formControlName="confirmpassword">
                    <label class="text-danger" *ngIf="service.formModel?.get('confirmPassword')?.touched && service.formModel?.get('confirmPassword')?.errors?.required">This field is mandatory.</label>
                    <!--<label class="text-danger" *ngIf="service.formModel.get('confirmPassword').touched && service.formModel.get('confirmPassword').errors?.passwordMismatch">confirm password does not match</label> -->
                </div>
                  <div class="input">
                      <input type="submit" value="create account" (click)="create_account()"  [disabled]="!service.formModel.valid">
                  </div>
                 
              </form>
    </div>
        </div> 
    </section>
</body>
</html>