<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    
    , initial-scale=1.0">
    <title>Sing Up</title>
</head>
<body>
    

    <section>
     <div class="image-container">
            <img src="../../assets/Capture.PNG">
        </div>
        <div class="form-container">
           <div class="form">
             <h2>  Create your Account by Filling Up This form!</h2>      
              <form >
                <div class="input">
                    <span>First and lastName</span>
                    <input type="text"  [(ngModel)] ="fullName"  name="fullName" >
                </div>
                  <div class="input">
                      <span>username</span>
                      <input type="text"  [(ngModel)] ="username" name="username">
                  </div>
                  <div class="input">
                      <span>password</span>
                      <input type="password"  [(ngModel)] ="password"  name="password">
                  </div>
                  <div class="input">
                    <span> confirm password</span>
                    <input type="password"  [(ngModel)] ="confirm_password"  name="confirmPassword">
                </div>
                  <div class="input">
                      <input type="submit" value="create account" (click)="create_account()">>
                  </div>
                 
              </form>
    </div>
        </div> 
    </section>
</body>
</html>